
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body style="width:1000px">
    <div style="margin-left:50%;text-align:center;"> 
        <h1>登陆</h1>
        <input id="Text1" type="text" />
        <br />
        <input id="Text1" type="text" />
    </div>
</body>
</html>
